.main-bg {
    background-image: url('../img/main-svg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
   background: white;
   color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto; /* deixa no meio da tela */
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing{
    height: 6.8rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}